.choice {
    border: 1px solid antiquewhite;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: orange;
    color: antiquewhite;
    text-align: center;
}

.container {
    border: 1px solid antiquewhite;
    font: 18px;
    font-family: 'Sigmar One', cursive;
    background-color: orange;
    text-align: center;
    padding: 10px;
}

body {
    background-color: orange;
}

.jumbotron {
    background-color: orange;
    color: antiquewhite;
    text-align: center;
}
