* {
    box-sizing: border-box;
}

div {
    display: block;
}

img {  
    width: 300px;
    height: auto;
    border: solid 2px black;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: left;
    background: gray;
}

button {
    width: 300px;
}